body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;    
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    border: solid silver 0;
    border-bottom-width: 1px;
    justify-content: flex-end;
    align-items: center;

    button, a{
        cursor: pointer;
        text-align: center;
        margin-right: 30px;
        border-radius: 4px;
        color: #fff;
        width:100px;
        font-size: 14px;
        padding: 8px 16px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);        
        background-color: #a1a1a1;
        border: none;
    }    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .users{
        height: 300px;
        width: 250px;
        margin: 50px;
        border: solid silver 1px;
        .users_data{
            min-height: 240px;
            padding: 5px 0 0 30px;
        }
        .users_buttons{
            max-height: 30px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
            button{
                width: 80px;
                height: 30px;
                font-size: 14px;        
            }
        }
    }
}

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #afafaf96;
    align-items: center;
    justify-content: center;
    .modalChange{
        display: flex;
        width: 280px;
        height: 450px;
        background-color: #f6f6f6;
        padding: 20px 50px 0 50px;
        flex-direction: column;
        border-radius: 10px;
        .modalChange_cap{
            text-align: center;
            font-size: 18px;
        }
        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            select{
                height: 23px;
                width: 153px;
            }
        }
        button{
            margin-top: 30px;
        }
    }
}

.statisticsModal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #afafaf96;
    align-items: center;
    justify-content: center;
    .statisticsTable{
        display: flex;
        width: 900px;
        height: 450px;
        background-color: white;
        .statisticsBlock{
            width: 150px;
            height: 100%;
            border: solid silver 1px;
            .infoText{
                margin-left: 10px;
            }
            .statisticsBlock_name{
                height: 30%;
                border-bottom: solid silver 2px;
                display: flex;
                align-content: center;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: stretch;
                .cap{
                    text-align: center;
                }
            }
        }
    }
}

.active{
    display: flex;
}
