body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid silver 1px;
  border-bottom-width: 1px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button, .header a {
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  border-radius: 4px;
  color: #fff;
  width: 100px;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #a1a1a1;
  border: none;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .usersContainer {
  width: 350px;
  height: 450px;
  margin: 50px;
  border: solid silver 2px;
  text-align: center;
}

.container .usersContainer .userCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .usersContainer .userCheck .cartDebit {
  width: 50%;
  text-align: center;
}

.container .usersContainer .userCheck .cartCredit {
  width: 50%;
  text-align: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #afafaf96;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal form {
  padding-top: 36px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 469px;
  width: 624px;
  text-align: center;
}

.modal form .userCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal form span select {
  width: 155px;
  height: 23px;
}

.statisticsModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #afafaf96;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statisticsModal .statisticsTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 150px;
  background-color: white;
}

.statisticsModal .statisticsTable .statisticsBlock {
  width: 200px;
  height: 100%;
  border: solid silver 1px;
}

.statisticsModal .statisticsTable .statisticsBlock .statisticsBlock_name {
  height: 50%;
  border-bottom: solid silver 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.statisticsModal .statisticsTable .statisticsBlock .statisticsBlock_name .cap {
  text-align: center;
}

.statisticsModal .statisticsTable .statisticsBlock .statisticsBlockResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.statisticsModal .statisticsTable .statisticsBlock .customersOweBankButtons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=bankStyle.css.map */